{% extends 'basetem/basetem_user.html' %}
{% load static %}

{% block title %}
    商品列表
{% endblock %}

{% block head_css %}
    <style>
        .shop-list-mid .tit a {
            color: #909090;
            font-size: 1.4rem;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            white-space: normal;
            text-overflow: ellipsis;
        }

        .list-price {
            background: url({% if order == 2 %}{% static 'images/order-bot.png' %}{% elif order == 3 %}{% static 'images/order-top.png' %}{% else %}{% static 'images/order.png' %}{% endif %}) no-repeat right center;
            padding-right: 20px;
            font-style: normal;
        }
    </style>
{% endblock %}

{% block header %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <form action="{% url 'search:haystack_search' %}" method="get">

            <div class="cate-search">
                <input type="text" name="q" value="" class="cate-input" placeholder="请输入您要的搜索的产品关键词"/>
                <input type="submit" value="" class="cate-btn"/>
            </div>
        </form>
    </header>
    <div style="height: 49px;"></div>
{% endblock %}


{% block content %}
    <ul class="list-nav">
        <li {% if order == 0 %}class="current"{% endif %}><a href="{% url 'goods:分类列表' cate_id 0 %}">综合</a></li>
        <li {% if order == 1 %}class="current"{% endif %}><a href="{% url 'goods:分类列表' cate_id 1 %}">销量</a></li>
        <li {% if order == 2 or order == 3 %}class="current"{% endif %}><a id="price"
                                                                           href="{% url 'goods:分类列表' cate_id 2 %}"><i
                class="list-price">价格</i></a></li>
        <li {% if order == 4 %}class="current"{% endif %}><a href="{% url 'goods:分类列表' cate_id 4 %}">新品</a></li>
    </ul>
    <div class="content-list">
        <div class="list-left">
            {% for category in categorys %}
                <li {% if cate_id == category.pk %}class="current"{% endif %}>
                    <a href="{% url 'goods:分类列表' category.pk order %}">{{ category.cate_name }}</a>
                </li>
            {% endfor %}
        </div>
        <div class="list-right">
            <ul class="list-pro">

                {% for goods_sku in goods_skus %}
                    <li>
                        <a href="{% url 'goods:详情' goods_sku.pk %}"><img src="{{ MEDIA_URL }}{{ goods_sku.logo }}"
                                                                         class="list-pic"/></a>
                        <div class="shop-list-mid" style="width: 65%;">
                            <div class="tit">
                                <a href="{% url 'goods:详情' goods_sku.pk %}">
                                    {{ goods_sku.goods_spu.spu_name }}&emsp;{{ goods_sku.sku_name }}
                                </a>
                            </div>
                            <div class="am-gallery-desc">￥{{ goods_sku.price }}</div>
                            <p>销量：{{ goods_sku.sale_num }}件</p>
                        </div>
                        <div class="list-cart">
                            <div class="d-stock ">
                                <a class="decrease">-</a>
                                <input sku_id="{{ goods_sku.pk }}" id="num" readonly="" class="text_box" name=""
                                       type="text" value="0">
                                <a class="increase">+</a>
                            </div>
                        </div>
                    </li>
                {% empty %}
                    <li>
                        <a href="{% url 'goods:分类列表' '' '' %}">该分类下商品走丢了~~~~</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}


{% block footer %}
    <!--底部-->
    <div style="height: 55px;"></div>
    <div class="fix-bot">
        <a href="{% url 'cart:购物车页面' %}">
            <div class="fix-bot-cart"><i id="cart_count">{{ cart_count }}</i></div>
        </a>
        <a href="tureorder.html" class="list-js">去结算</a>
        <a href="tureorder.html" class="list-jsk">一键快购</a>
        <!--<div class="js-text">
           <p><b>￥217.80</b></p>
           <p class="js-car">购物满50元免运费</p>
     </div>-->
    </div>
{% endblock %}


{% block footer_js %}
    <script>
        //购物数量加减
        $(function () {
            $('.increase').click(function () {
                var self = $(this);
                var current_num = parseInt(self.siblings('input').val());

                // 完成AJAX请求
                //准备数据
                // sku_id 在 input 标签上 添加一个自定义属性 sku_id=1 -->sku_id="{{ goods_sku.pk }}"
                //找到input获取自定义的属性值
                // 定义一个 商品的id 变量 var
                var sku_id = self.siblings('input').attr('sku_id');
                // 定义 得到的数据
                var data = {
                    'csrfmiddlewaretoken': '{{ csrf_token }}', // 得到的令牌
                    'count': 1, // 开始显示的默认数字 1
                    'sku_id': sku_id
                };
                $.ajax({
                    type: "post",
                    url: "{% url 'cart:添加购物车' %}",
                    data: data,
                    dataType: "json",
                    success: function (data) {
                        if (data.code == 0) {
                            //添加成功,每次增加1
                            current_num += 1;
                            if (current_num > 0) {
                                self.siblings(".decrease").fadeIn();
                                self.siblings(".text_box").fadeIn();
                            }
                            self.siblings('input').val(current_num);

                            //修改总数量
                            $("#cart_count").text(data.data);
                        } else if (data.code == 1) {
                            //未登录陆,跳转到登录页面
                            if (confirm("没有登录,是否立即登录?")) {
                                location.href = "{% url '用户:用户登录' %}?next={% url 'goods:分类列表' cate_id order %}"
                            }

                        } else {
                            alert(data.errmsg);
                        }
                    }
                });

            });
            $('.decrease').click(function () {
                var self = $(this);
                var current_num = parseInt(self.siblings('input').val());
                if (current_num > 0) {
                    // 完成AJAX请求
                    //准备数据
                    // sku_id 在 input 标签上 添加一个自定义属性 sku_id=1 -->sku_id="{{ goods_sku.pk }}"
                    //找到input获取自定义的属性值
                    var count = -1;
                    var sku_id = self.siblings('input').attr('sku_id');
                    // 定义 得到的数据
                    var data = {
                        'csrfmiddlewaretoken': '{{ csrf_token }}', // 得到的令牌
                        'count': count, // 开始显示的数据减1
                        'sku_id': sku_id
                    };
                    $.ajax({
                        type: "post",
                        url: "{% url 'cart:添加购物车' %}",
                        data: data,
                        dataType: "json",
                        success: function (data) {
                            if (data.code == 0) {
                                //添加成功,每次减少1
                                current_num -= 1;
                                if (current_num < 1) {
                                    self.fadeOut();
                                    self.siblings(".text_box").fadeOut();
                                }
                                self.siblings('input').val(current_num);

                                //修改总数量
                                $("#cart_count").text(data.data);
                            } else if (data.code == 1) {
                                //未登录陆,跳转到登录页面
                                if (confirm("没有登录,是否立即登录?")) {
                                    location.href = "{% url '用户:用户登录' %}?next={% url 'goods:分类列表' cate_id order %}"
                                }

                            } else {
                                alert(data.errmsg);
                            }
                        }

                    });
                }
            });

        });

        $(function () {
            // 修改 标签上的地址值
            {% if order == 2 %}
                $("#price").attr('href', '{% url "goods:分类列表" cate_id 3 %}');
            {% elif order == 3 %}
                $("#price").attr('href', '{% url "goods:分类列表" cate_id 2 %}');
            {% endif %}
        });
    </script>
{% endblock %}