{% extends 'basetem/basetem_user.html' %}
{% load static %}
{% block title %}
修改密码页
{% endblock %}
{% block aaa %}
修改密码
{% endblock %}

{% block content %}
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        <header data-am-widget="header" class="am-header am-header-default sq-head ">
            <div class="am-header-left am-header-nav">
                <a href="javascript:history.back()" class="">
                    <i class="am-icon-chevron-left"></i>
                </a>
            </div>
            <h1 class="am-header-title">
                <a href="" class="">修改密码</a>
            </h1>
        </header>
        <div style="height: 49px;"></div>
        <input type="text" name="password" placeholder="旧密码" class="login-password">
        {{ form.errors.password.0 }}
        <input type="text" name="password1" placeholder="新密码" class="login-name">
        {{ form.errors.password1.0 }}
        <input type="text" name="password2" placeholder="确认新密码" class="login-password">
        {{ form.errors.password2.0 }}
        <input type="submit" class="login-btn" value="确认">
    </form>
{% endblock %}